@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

header{
    width:100%;
    h1{
        font-family: 'Megrim';
        text-align: center;
        font-weight: lighter;
        font-size: 60px;
    }
}


